<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>TSEC Editor</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
</head>
<body>
    <div id="sidebar">
        <h2>Tables</h2>
        <div id="table-list">
            <!-- La liste des tables sera chargée ici par JavaScript -->
        </div>
    </div>
    <div id="main-content">
        <h1>Informations sur la table</h1>
        <!-- Les informations sur la table sélectionnée seront chargées ici -->
        <div id="table-data"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>
